table {
  font-size: 13px;
  text-align: left;
  max-width: 800px;
  color: white;
  margin: 10px 0 20px;

  th,
  td {
    padding: 5px;
    border: 1px dotted #aaa;
  }

  th {
    font-size: 11px;
  }
}
