

$background: #111;
$color: lime;

@import 'components/table';

::selection {
  background: $color; /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: $color; /* Gecko Browsers */
  color: black;
}

body {
  background: $background;
  color: $color;
  font-family: 'Menlo', Menlo, monospace;
  font-size: 13px;
}

pre,
code {
  font-family: 'Menlo', Menlo, monospace;
  font-size: 13px;
}


.terminal__cursor {
  display: inline-block;
  width: 9px;
  height: 1.2em;
  background: lime;
  vertical-align: bottom;
}

.terminal__input {
  opacity: 0;
  width: 0px;
}

input {
  background: transparent;
  color: white;
  border: none;

  &:focus {
    outline: 0;
  }
}

.prompt__input-text {
  margin: 0 -7px 0 8px;
}

.prompt__entry {
  white-space: pre-line;
  color: white;

  &::selection {
    background: blue; /* WebKit/Blink Browsers */
    color: white;
  }
  &::-moz-selection {
    background: blue; /* Gecko Browsers */
    color: white;
  }
}

.indent {
  padding-left: 18px;
}

.type__list__title {
  color: lightblue;
  margin: 0;
}

.type__list__item {
  display: inline-block;
  padding: 4px;
  background-color: #222;
  color: lime;
  margin-right: 6px;
}

.yellow {
  color: $background;
  background: green;
}

.green {
  color: red;
}

// Animations

.a-blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.a-loading::after {
  animation: loading 1s infinite;
  -webkit-animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    content: '.';
  }

  33% {
    content: '..';
  }

  100% {
    content: '...';
  }
}

@-webkit-keyframes loading {
  0% {
    content: '.';
  }

  33% {
    content: '..';
  }

  100% {
    content: '...';
  }
}
