<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <title>hello.</title>
  <meta name="description" content="this is my personal space." />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="hello.">
	<meta itemprop="description" content="this is my personal space.">
	<meta itemprop="image" content="http://i.imgur.com/e1lMbum.jpg">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="http://i.imgur.com/e1lMbum.jpg">
	<meta name="twitter:site" content="@vascogaspar_">
	<meta name="twitter:title" content="hello.">
	<meta name="twitter:description" content="this is my personal space.">
	<meta name="twitter:creator" content="@vascogaspar_">
	<meta name="twitter:image:src" content="http://i.imgur.com/e1lMbum.jpg">

	<!-- Open Graph data -->
	<meta property="og:title" content="hello." />
	<meta property="og:type" content="profile" />
  <meta property="fb:app_id" content="100000274380613" />
	<meta property="og:url" content="https://vasco.work" />
  <meta property="og:image" content="http://i.imgur.com/e1lMbum.jpg" />
	<meta property="og:image:secure_url" content="https://i.imgur.com/e1lMbum.jpg" />
	<meta property="og:description" content="this is my personal space." />
	<meta property="og:site_name" content="hello." />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    document.addEventListener("click", function(event) {
      document.getElementById("prompt").focus();
    }, false);
  </script>
</head>
  <body>

  <div id="start-here"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
