<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
  <%- include metatags.ejs %>

  <script>
    document.addEventListener("click", function(event) {
      document.getElementById("prompt").focus();
    }, false);
  </script>
</head>
  <body>

  <div id="start-here"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>

  </body>
</html>
