<html>
<head>
  <title>hello</title>
  <link rel="icon" href="/favicon.ico">
  <script>
    document.addEventListener("click", function(event) {
      document.getElementById("prompt").focus();
    }, false);
  </script>
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
